p{text-align: center;
   color: brown;
   }

   body{
      background-image:url("C:/Users/Prashant Singh Rawat/Desktop/Phone.jpg");
   }
        
       #xyz{
   color: green;

}

.greenp{
   color: indigo;
}

.bluep{
   color:rgb(200,200,0);
}

.large{font-size: 400%;}
h1 {border: 3px solid DodgerBlue}







